<div class="container">
	<div class="row mt-4">
			<div class="col-sm-4">
		<div class="form-group">
			<input type="text" placeholder="search" [(ngModel)]="search" class="form-control">
		</div>
	</div>
	<div class="col-sm-8">
		<button class="btn btn-primary btn-md float-right" type="button" (click)="openModal()">Create</button>
	</div>
	
		<div class="alert alert-danger w-100 mt-4" *ngIf="!todos.length">
			<strong>Notification</strong> You dont have any tasks currently in your account.
		</div>
		<table class="table table-striped table-bordered mt-4" *ngIf="todos.length">
			<thead>
				<tr>
					<th>S.No</th>
					<th>Task</th>
					<th>Created At</th>
					<th>Updated At</th>
					<th></th>
				</tr>
			</thead>
			<!-- <tbody *ngFor="let todo of todos |filter:{'task':search}; let i = index"> -->
			<tbody *ngFor="let todo of filter(todos); let i = index">

				<tr>
					<td>{{i+1}}</td>
					<td>{{todo.task}}</td>
					<td>{{todo.created_at |moments:'format':'DD/MMM/YYYY'}}</td>
					<td>{{todo.updated_at | moments:'fromNow'}}</td>
					<td>
						<button class="btn btn-sm btn-danger cursor-pointer" type="button" (click)="remove(todo)">
							<span class="fa fa-trash"></span>
						</button>
						<button class="btn btn-sm btn-warning cursor-pointer" type="button" (click)="update(todo)">
							<span class="fa fa-upload"></span>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


<app-modal *ngIf="modal" [todo]="todo" (onModalClose)="onModalClose()" (onModalSave)="onModalSave($event)"></app-modal>


<app-confirm *ngIf="confirmAction" [text]="confirmText" (onYes)="onYes()" (onNo)="onNo()"></app-confirm>

<!-- <app-loading *ngIf="loading" [show]="loading"></app-loading> -->





















