

<div class="modal fade" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Modal</h5>
        <button type="button" class="close" (click)="close()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
        	<label for="" class="form-control-label">Task</label>
        	<input type="text" class="form-control" appOnlyNumbers [(ngModel)]="inputs.task" (keyup)="validate()">
        </div>
        <div class="form-group">
        	<label for="" class="form-control-label">Description</label>
        	<textarea class="form-control" [(ngModel)]="inputs.description" (keyup)="validate()"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
        <button type="button" class="btn btn-primary" (click)="save()" [disabled]="validForm()">Save changes</button>
      </div>
    </div>
  </div>
</div>