/* You can add global styles to this file, and also import other style files */
.cursor-pointer{
	cursor: pointer;
}

p-progressbar .ui-progressbar .ui-progressbar-value{
	
	    border: 1px solid #007bff!important;;
    background: #007bff!important;;
}